<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--DEVELOPER-->
    <!--<add name="myDatabaseConnection" connectionString="server=localhost;user=root;database=pos_savkovic;port=3306;password=root123;"/>-->
    <!--PRODUCTION-->
    <add name="myDatabaseConnection" connectionString="server=localhost;user=root;database=pos_savkovic;port=3306;password=klemensavkovicsp;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
